body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.TODO_list{
    overflow:scroll;
    width: 50%;
    height: 400px;
    border: 2px solid rgb(65, 112, 128);
    /* background-color: #fffffff8; */

}


ul.ul-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-width: 300px;
    width: 100%;
}

ul.ul-list li
{
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    /* border-bottom: 1px solid #0c0c0c; */
    /* border-top: 3px solid #580f0f; */
    font-size: 12px;  /* font-size는 child한테 따로 해줘야할건데 */
}

ul.ul-list li:last-child
{
    border-bottom: 0px;
}

ul.ul-list li:before
{
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
}

.notice-box {
    display:flex;
    flex-direction: row;
    padding:2px;
    /* background-color:rgb(125, 153, 207); */
    border: 1px solid #222024;
    text-align:left; margin-top: 2px;
    /* background-color:rgb(29, 34, 46); */
}

.notice-box .priority-layout{
    display:flex;
    justify-content: center;
    width:30px;
    height: 20px;
    /* background-color: #b7dab7; */
}

.notice-box .priority {
    display:flex;
    /* justify-content: center; */
    align-self: center;
    width:17px;
    height:17px;
    padding: 3px;
    border:1pt solid #22202491;
    border-radius:50%;
    filter:alpha(opacity=30);
    /* opacity:0.3; */
    /* background:""; */
}

#priority-color0{
    background-color: #f44336;
}

#priority-color1{
    background-color: #ffc107;
}

#priority-color2{
    background-color: #4CAF50;
}

#priority-color3{
    background-color: "";
}

.notice-box .memo-layout{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notice-box .memo-layout:hover{
    border: 0;
    cursor:pointer;
    opacity: .75;
}

.notice-box .metadata-layout{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid #4b4949;
}

.notice-box .title-layout{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 94%;
    font-size: 15px;
    padding-left: 4px;
    /* background-color: #ff0000; */
}

.notice-box .content-layout{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background-color: #836e6e71;
}

#close {
    width: 6%;
    /* background-color: #ecca08; */
    /* padding:1px 1px; */
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.3rem;
}

#close:hover {
    border: 0;
    cursor:pointer;
    opacity: .75;
    /* background-color: rgb(252, 7, 7); */
}
